<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="/Content/css/materialize.css" media="screen,projection" />
        <link rel="stylesheet" type="text/css" href="/Content/css/main.css">
        <link rel="stylesheet" type="text/css" href="/Content/css/font-awesome.min.css">

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     </head>
     <body>
        <header>
            <nav>
                <div class="nav-wrapper">
                    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                    <a href="#" class="brand-logo center">Modulo Nómina</a>
                    <ul class="right">
                        <li><a href="#">Salir</a></li>
                    </ul>
                </div>
            </nav>
            <ul id="slide-out" class="side-nav fixed">
                    <li class="active"><a href="@Url.Action("GestionEmpleados", "Home")">Empleados</a></li>
                    <li><a href="tiposdeingresos.html">Tipos de ingresos</a></li>
                    <li><a href="tiposdededucciones.html">Tipos de deducciones</a></li>
                    <li><a href="registrodetransacciones.html">Registro de transacciones</a></li>
                    <li><a href="consultas.html">Consultas</a></li>
                    <li><a href="asientoscontables.html">Asientos contables</a></li>
</ul>
        </header>

         @RenderBody()

        <!--Import jQuery before materialize.js-->
        <script src="/Scripts/jquery-2.1.1.js"></script>
        <script src="/Scripts/jquery-ui-1.11.1.js"></script>
        <script src="/Scripts/bootstrap.js"></script>
        <script src="/Scripts/angular.min.js"></script>
        <script src="~/Scripts/MyScripts/ControladorEmpleados.js"></script>
    
        <script type="text/javascript" src="/Scripts/materialize.min.js"></script>
        <script type="text/javascript" src="/Scripts/main.js"></script>
    </body>
</html>

